<div>
  <form class='logout' type='logout' method='POST' action='/sessions'>
    <input class='hidden' type='hidden' name='_method' value='delete'>
    <input type='submit' value='Logout'>
  </form>
</div>