<form action='/posts' method='POST'>
  <input type='text' name='title' placeholder='new post'>
  <input type='text' name='body' placeholder='new post'>

  <input type='submit' value='Click me!'>
</form>